@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");
html{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    142deg,
    rgba(63, 161, 251, 1) 0%,
    rgba(252, 70, 168, 1) 100%
  );
  background-repeat: repeat-y;
}
.body{
  font-family: "Exo 2", sans-serif;
  font-size: clamp(1rem, 4vw, 1.5rem);
}
.App{
  text-align: center;
  align-content: center;
}
input[type="file"] {
  font-family: "Exo 2", sans-serif;
  font-size: clamp(1rem, 4vw, 1.5rem);
  display: none;
  background-color: #FFF2F2;
}
input[type="color"]{
  
  margin-left: 10px;
  border: 3px;
  border-style:double;
  border-color: #8EA7E9;
  border-radius: 8px;
}
.selectColor{
  font-family: "Exo 2", sans-serif;
  font-size: clamp(1rem, 4vw, 1.5rem);
  display: inline-block; 
  padding: 6px 12px;
  cursor: pointer;
  color: #fde9ff;

}
.custom-file{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.previewImage{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#selectImage{
  border: 1px solid #fde9ff;
  display: inline-block; 
  padding: 6px 10px;
  cursor: pointer;
  margin:auto;
  /* font-family: 'Lato'; */
  /* background-color: rgb(255, 116, 190); */
}
.display{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:40px;
} 
h1{
  padding:20px;
  margin-top:0;
  margin: 0 0 50px; 
  text-align: center; 
}
h2{
  font-family: "Exo 2", sans-serif;
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-align: left;
  line-height: 1px;
  color:#fde9ff;
  margin-left:90px;
}
.head2{
  margin-bottom:30px;
  justify-content: center;
}
.setting{
  margin:20px;
  display: flex;
  padding:30px 20px;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-start;
  box-shadow: #fde9ff 0px 0px 0px 3px;
  /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
}
.flex-item{
  flex-grow:1;
  flex-basis:0;
  flex-shrink:0;
}
button#butDye{
  margin:auto;
  margin-top: 10px;
  flex-grow:0;
}
.dyeImage{
  flex-grow:1;
  flex-basis:0;
  flex-shrink:0;
}

/* CSS */
.button-30{
  align-items: center;
  appearance: none;
  background-color: #fde9ff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(255, 113, 189);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #FFF2F2 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: rgb(255, 113, 189);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #fde9ff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: rgb(250, 95, 177);
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}
.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
   transform: skew(0, -10deg); 
}
.sweet-title {
   order: 2; 
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;

  
}
span{
  display: block;
  position: relative;

  &:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
      -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
    z-index: 1;
  }
}
